body {
    background-color: antiquewhite;
    colo
}


.time{
    display: inline-block;
    width: 20%;
    background-color: bisque;
    padding: 2rem;
}


.container-time{
    display: flex;
    align-items: center;
    justify-content: center;

}

button{
    cursor: pointer;
}